* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-class {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: top 0.3s ease; /* Transição suave ao esconder/exibir */
  }
  
  .navbar-hidden {
    top: -200px; /* Esconde a navbar movendo para cima */
  }
  

.navbar-class-top {
    width: 100%;
    background: #ffffff;
    color: #000000;
    text-align: center;
    padding: 5px 0;
}
.navbar-class-top p{
        font-size: 0.8rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    
}
a{
font-weight: 700;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    justify-content: center;
    width:100%;
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 10px;
}.dropdown-menu:hover{
    display: flex;
}
.dropdown-content {background: white;
    width:50%;
    border-radius: 5px;
    transition: 0.2s;
    padding: 20px;
    display: grid;   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.dropdown-item {
   
    display: flex !important;
    align-items: center;
    gap: 10px;
}
.dropdown-item:hover{
    cursor: pointer;
}
.dropdown-item h2{
    font-size: 1rem;
    font-weight: 900;
}
.dropdown-item p{
    font-size: 0.8rem;

}
.dropdown-item img {
    width: 60px;
    height: 60px;
}
.dropdown-trigger:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: flex;
}
.navbar-class-container {
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}
.navbar-class-logo img {
    width: 50px;
    transition: opacity 0.2s;
}

.navbar-class-logo img:last-child {
    /* position: absolute; */
    opacity: 0;
    transition: opacity 0.2s;
}
#img-hover{
    width: 120px;
    margin-left: -6px;
}
.navbar-class-logo:hover img:last-child {
    opacity: 1;
}
.navbar-class-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    position: relative;
    transition: color 0.2s;
}
.navbar-class-links a:hover {
    color: #555;
}
.navbar-class-links a::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    width: 8px;
    height: 8px;
    background: #17D5ff;
    border-radius: 50%;
    transform: translateX(-50%) scale(0);
    transition: transform 0.2s;
}.navbar-class-links #cases-trigger1::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    width: 8px;
    height: 8px;
    background: #ff7417;
    border-radius: 50%;
    transform: translateX(-50%) scale(0);
    transition: transform 0.2s;
}.navbar-class-links #cases-trigger1:hover::before {
    transform: translateX(-50%) scale(1);
}
.navbar-class-links a:hover::before {
    transform: translateX(-50%) scale(1);
}
.navbar-class-button button {
    padding: 8px 15px;
    background: #17d4ff00;
    color: #ffffff;
    border: 2px solid #7a7a7a;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    transition: background 0.2s;
}
.navbar-class-button button:hover {
    background: #00000000;
    border: 2px solid #17D5ff;
    transition: 0.2s;
    color: #f0efef;

}
.navbar-class-mobile {
    display: none;
    width: 100%;
    padding: 10px;
    text-align: right;
}
.navbar-class-mobile button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.navbar-class-mobile-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: white;
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
}
.navbar-class-mobile-menu.active {
    right: 0;
}
.navbar-class-mobile-menu a {
    text-decoration: none;
    color: black;
    margin: 10px 0;
    font-size: 18px;
}
.navbar-class-lang {
    position: relative;
}.navbar-class-lang i{
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Transição suave */
  color: #fff;
}
.navbar-class-lang button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px; border-radius: 5px;
    transition: background 0.2s;
}
.navbar-class-lang button:hover {
   
    background: rgba(0, 0, 0, 0.658);
}
.navbar-class-lang button img {
    width: 20px;
    margin-right: 5px;
}
.navbar-class-lang:hover i {
    transform: rotate(180deg);
}
.dropdown-trigger i {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Transição suave */
    display: inline-block; /* Garante que o ícone seja tratado como um bloco e possa rotacionar */
}

.dropdown-trigger:hover i {
    transform: rotate(180deg); /* Aplica a rotação de 180 graus */
}

.navbar-class-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}
.navbar-class-fullscreen.active {
    opacity: 1;
    visibility: visible;
}
.navbar-class-fullscreen .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
.navbar-class-fullscreen p {
    margin: 10px 0;
    transition: 0.5s;
    font-weight: 800;
    cursor: pointer;
}
.navbar-class-fullscreen p:active {
    margin: 10px 0;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}.navbar-class-fullscreen p:hover {
    margin: 10px 0;
    font-weight: 800;
    color: #ffffff8c;
    transition: 0.5s;
    cursor: pointer;
}#mobile-menu {
    display: none;
    /* Adicione outros estilos conforme necessário */
  }
  
  #mobile-menu.show {
    display: block;
    /* Ou use flex, grid, etc., para mostrar o menu */
  }
  
#menuButton {
    transition: transform 0.3s ease-in-out;
}
#menuButton.rotated {
    transform: rotate(90deg);
}
.navbar-class-mobile-menu a:hover {
    text-decoration: none;
    color: #17D5ff;
    margin: 10px 0;
    font-size: 18px;
}
@media (max-width: 1200px) {
  
    .navbar-class-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 200px;
    }
    .navbar-class-mobile img{
        width: 40px;
    }
    .navbar-class-container {
        display: none;
    }
    .navbar-class-lang button {
        background: #1817173b;
        border: none;
        cursor: pointer;
        display: flex
    ;
        margin-bottom: 10px;
        align-items: center;
        padding: 8px;
        border-radius: 5px;
        transition: background 0.2s;
    }
    .navbar-class-top p {
        font-size: 0.6rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
}
#close{
    font-size: 25px;
    background-color: #ffffff00;
    border: none;
}
#close:active{
    color: #17D5ff;
}
  